In [1]:
import pandas as pd

In [35]:
movies = pd.read_csv('movies.csv', index_col='Title')
movies

                              Rank           Studio       Gross  Year
Title
Avengers: Endgame                1      Buena Vista  $2,796.30   2019
Avatar                           2              Fox  $2,789.70   2009
Titanic                          3        Paramount  $2,187.50   1997
Star Wars: The Force Awakens     4      Buena Vista  $2,068.20   2015
Avengers: Infinity War           5      Buena Vista  $2,048.40   2018
...                            ...              ...         ...   ...
Yogi Bear                      778  Warner Brothers    $201.60   2010
Garfield: The Movie            779              Fox    $200.80   2004
Cats & Dogs                    780  Warner Brothers    $200.70   2001
The Hunt for Red October       781        Paramount    $200.50   1990
Valkyrie                       782              MGM    $200.30   2008

[782 rows x 4 columns]

In [7]:
movies.head(4)

                              Rank       Studio       Gross  Year
Title
Avengers: Endgame                1  Buena Vista  $2,796.30   2019
Avatar                           2          Fox  $2,789.70   2009
Titanic                          3    Paramount  $2,187.50   1997
Star Wars: The Force Awakens     4  Buena Vista  $2,068.20   2015

In [8]:
movies.tail(3)

                          Rank           Studio     Gross  Year
Title
Cats & Dogs                780  Warner Brothers  $200.70   2001
The Hunt for Red October   781        Paramount  $200.50   1990
Valkyrie                   782              MGM  $200.30   2008

In [9]:
len(movies)

782

In [10]:
movies.shape

(782, 4)

In [16]:
movies.dtypes

Rank       int64
Studio    object
Gross     object
Year       int64
dtype: object

### Obtener una fila por número de indice

In [13]:
movies.iloc[100:102]

,Rank,Studio,Gross,Year
Title,,,,
Suicide Squad,101,Warner Brothers,$746.80,2016
"The Chronicles of Narnia: The Lion, the Witch and the Wardrobe",102,Buena Vista,$745.00,2005

In [24]:
movies.loc["Forrest Gump"]

Rank            119
Studio    Paramount
Gross      $677.90
Year           1994
Name: Forrest Gump, dtype: object

In [26]:
movies.sort_values(by="Year", ascending=False).head(3)

                                   Rank           Studio       Gross  Year
Title
Avengers: Endgame                     1      Buena Vista  $2,796.30   2019
Shazam!                             340  Warner Brothers    $364.10   2019
John Wick: Chapter 3 - Parabellum   458        Lionsgate    $304.70   2019

In [28]:
movies.sort_values(by=["Studio", "Year"], ascending=[True, False]).head()

                         Rank       Studio       Gross  Year
Title
The Blair Witch Project   588      Artisan    $248.60   1999
Avengers: Endgame           1  Buena Vista  $2,796.30   2019
Captain Marvel             22  Buena Vista  $1,128.30   2019
Aladdin                    59  Buena Vista    $880.20   2019
Toy Story 4               198  Buena Vista    $519.80   2019

In [29]:
movies.sort_index(ascending=False).head()

                                Rank           Studio       Gross  Year
Title
xXx: The Return of Xander Cage   385        Paramount    $346.10   2017
Zootopia                          37      Buena Vista  $1,023.80   2016
Your Name.                       356              FUN    $358.00   2017
You've Got Mail                  582  Warner Brothers    $250.80   1998
Yogi Bear                        778  Warner Brothers    $201.60   2010

In [36]:
studios = movies["Studio"]
studios.value_counts()
# len(studios.value_counts())

Studio
Warner Brothers           132
Buena Vista               125
Fox                       117
Universal                 109
Sony                       86
Paramount                  76
Dreamworks                 27
Lionsgate                  21
New Line                   16
MGM                        11
TriStar                    11
Miramax                    10
Weinstein                   6
Columbia                    5
WGUSA                       4
SonR                        2
Orion                       2
Polygram                    2
Dimension                   2
HC                          1
China Film Corporation      1
FUN                         1
IFC                         1
FR                          1
Newmarket                   1
UTV                         1
RKO                         1
GrtIndia                    1
Artisan                     1
Pathe                       1
CL                          1
Rela.                       1
Lions                       1
Vestron                     1
USA                         1
Focus                       1
Magn.                       1
Name: count, dtype: int64

### 1.3.4 Filtering a column by one or more criteria